h1{
  text-align: center;
  color: red;
  outline-style: ridge;
}
h2{
  text-align: left;
  font-style: italic;
  color: orange;
  font-size: 70px
}
img{
  width: 400px;
  length: 600px;
}
li{
  font-size: 45px;
  color: brown;

  h1{
    color: purple;
  }
  h2{
    font-style: italic;
    text-align: center;
  }
  p {
    font-weight: bold;
    font-family: sans-serif;
  }
  img {
      width: 100%;
      height: auto;
  }
  ul {
    font-size: 20px;
    line-height: 30px;
  }
