h1{
  text-align: center;
  color: blue;
  outline-color: orange;
  font-size: 50px;
}
h2{
  text-align: left;
  font-style: italic;
  color: black;
  font-size: 40px;
}
img{
  width: 400px;
  length: 600px;
  height: auto;
}
li, ul{
  font-size: 30px;
  color: black;
  font-size: 30px;
  line-height: 30px;
}

  p {
    font-weight: bold;
    font-family: sans-serif;
}
